/* Copy and paste any or all of these css entries into your custom.css file inside your
 * css folder. The functions are annotated to make things as easy as possible for you.
 * Use any colors you want! Go to - "http://htmlcolorcodes.com/color-picker/"
 * Pick your color, copy and paste the HEX number. Example - #62FF00 = bright green.
 */

.MMM-PC-Stats .header {
  color: #FFFFFF;               /* Header color. Default is white. */
}

.MMM-PC-Stats .ram {
  color: yellow;               /* ram color. Default is white. */
}

.MMM-PC-Stats .yourCPU {
  color: #62FF00;               /* yourCPU color. Default is white. */
}

.MMM-PC-Stats .usage {
  color: cyan;               /* usage color. Default is white. */
}

.MMM-PC-Stats .graphicsTemp {
  color: yellow;               /* usage color. Default is white. */
}

.MMM-PC-Stats .core0Temp {
	color: cyan;
	text-align: right;
	margin-top: -150px;
}

.MMM-PC-Stats .core1Temp {
	color: cyan;
	text-align: right;
	margin-top: 0px;
}

.MMM-PC-Stats .core2Temp {
	color: cyan;
	text-align: right;
	margin-top: 0px;
}

.MMM-PC-Stats .core3Temp {
	color: cyan;
	text-align: right;
	margin-top: 0px;
}

.MMM-PC-Stats .core4Temp {
	color: cyan;
	text-align: right;
	margin-top: 0px;
}

.MMM-PC-Stats .core5Temp {
	color: cyan;
	text-align: right;
	margin-top: 0px;
}

.MMM-PC-Stats .core6Temp {
	color: cyan;
	text-align: right;
	margin-top: 0px;
}

.MMM-PC-Stats .core7Temp {
	color: cyan;
	text-align: right;
	margin-top: 0px;
}
